<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @pic.description %>
</p>

<% if @pic.user == current_user %>
<%= link_to 'Edit', edit_pic_path(@pic) %> |
<% end %>
<%= link_to 'Back', pics_path %>
