<% provide(:title, 'Contact') %>
<!DOCTYPE html>
<html>
  <head>
    <title>Kompaqt | <%= yield(:title) %></title>
  </head>
  <body>
    <h1>Contact Us</h1>
    <p>
       Contact Us at the following
    </p>
  </body>
</html>